<!DOCTYPE html>
<head>
    <title>Login</title>
    <link href="{{request.static_url('login:static/css/style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="{{ url }}" method="post">
            <label for="login"><b>Usuario</b></label>
            <input type="text" id="login" name="login" value="{{ login }}" placeholder="Usuario"/><br/>
            <label for="password"><b>Contraseña</b></label>
            <input type="password" id="password" name="password" value="{{ password }}" placeholder="Contraseña"/><br/><br/>
            <input type="submit" name="submit" value="Ingresar"/>
        </form>
        <br>
        <span>{{ message }}</span>
    </div>
</body>
</html>